@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg: #ffffff;
  --text: #111827;
}

html,body{
  height:100%;
  margin:0;
  background-color:var(--bg);
  color:var(--text);
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}
